<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">


<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body >

        <!-- Header -->
        <div style="margin-top: -40px;" id="header">
            <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li ><a href="logisticsMarshallPrototype/index">Home</a></li>

                        <li class="current"><a href="">My Profile</a></li>
                    </ul>
                </nav>

        </div>


		<div style="width:700px; margin:0 auto; margin-top:100px" >
				<h3>Business owner profile</h3>
				<form>
						<div class="col-12">
							<input type="text" th:value="${profile.name}" name="name" id="name" placeholder="Name" />
						</div>
						

						<br>
						<div class="col-12">
							<input type="password" name="password" id="password" placeholder="Password" />
						</div>
						
						<br>
						<div class="col-12">
							<input th:value="${phone_number}" type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" />
						</div>
						<br>

						<div class="col-12">
							<input th:value="${delivery_type}" type="text" name="deliveryType" id="deliveryType" placeholder="Delivery Type" />
						</div>

						<br>
						<div class="col-12">
							<label for="apikey">API Key attributed:</label>
							<p id="apikey" th:text="${apikey}"></p>
						</div>
						<br>
						<div class="col-12">
							<label for="address">Address:</label>
							<p id="address" th:text="${address}"></p>
						</div>


					<br>
				</form>
			

		</div>

		<div>
			<img src="/images/foodDriver.png" alt="Smiley face" style=" float: right; width: 20%; height: 20%; margin-right:100px; " >

		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>