<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body >
		<div style="width:300px; margin:0 auto; margin-top:100px" >
				<h3>Login</h3>
				<form>


						<div class="col-12">
							<input type="text" name="name" id="name" placeholder="Name" />
						</div>
						

						<br>
						<div class="col-12">
							<input type="password" name="password" id="password" placeholder="Password" />
						</div>
						
						<br>

						<div class="col-3">
							<button style=" height: 40px;float:left; display: inline; " class="alt" type="submit">Login</button>
							
						</div>


				</form>
				<div class="col-4">
 				<a  style=" height: 40px;float:right; display: inline;" href="signUp.html" class="button alt">SignUp</a>
				</div>

		</div>

		<div>
			<img src="/images/foodDriver.png"  alt="Smiley face" style=" float: right; width: 20%; height: 20%; margin-right:100px; " >

		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>