<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">


<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="/css/main.css" rel="stylesheet" />

	</head>
	<body >
		<div style="width:300px; margin:0 auto; margin-top:30px" >

			<div th:if="${param.success}">
				<div class="alert alert-info">You've successfully registered
					to our awesome app!</div>
			</div>





			<h3>SignUp</h3>
					<form  th:action="@{/register}" th:object="${user}" method="post">

						<div class="col-12">
							<input type="text"  placeholder="Name" th:value="*{name}" />
						</div>


						<br>
						<div class="col-12">
							<input type="text" placeholder="Email" th:value="*{email}" />
						</div>

						<br>
						<div class="col-12">
							<input type="password"  placeholder="Password" th:value="*{password}" />
						</div>

						<br>
						<div class="col-12 ">
							<select th:value="*{role}" style=" border-radius: 5px; width: 200px">
								<option th:value="'ADMINISTRATOR'" th:text="Administrator"></option>
								<option th:value="'DRIVER'" th:text="Driver"></option>
								<option th:value="'COMPANY'" th:text="Company"></option>

							</select>

						</div>




						<br>						
						<div class="col-3">
							<button style=" height: 40px;float:right; display: inline; " class="alt" type="submit">SignUp</button>	
						</div>


				</form>


		</div>



		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>

			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>


	</body>
</html>