<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


</head>

<body>

    	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="cart.html">Cart</a></li>
						<li class="nav-item"><a class="nav-link" href="deliveryStatus.html">Delivery Status</a></li>

						<li class="nav-item"><a class="nav-link" href="">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	


	
	<!-- Delivery Status -->
	<div class="blog-box">
		<div class="container">
            <br>
            <br><br>
            <table style="margin-left:auto;margin-right:auto;" class="styled-table">
                <h2>Delivery Status </h2>

                <thead>
                    <tr>
                        <th>Delivery man </th>
                        <th>Delivery man reputation </th>
                        <th>Restaurant</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Delivery time</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>José</td>
                        <td>3 <i class="fas fa-star"></i></td>
                        <td>MacDonalds</td>
                        <td>menu x</td>
                        <td>20-10-2021 14:30</td>
                        <td>5 min</td>



                    </tr>
        
                </tbody>
            </table>
							
        </div>
    </div>

				
			

	<!-- End details -->
	

	

	


</body>
</html>