<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Live Dinner Restaurant - Responsive HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


</head>

<body>
    	<!-- Start header -->
		<header class="top-navbar">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">
					<a class="navbar-brand" href="index.html">
						<img src="" alt="" />
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbars-rs-food">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="cart.html">Cart</a></li>
							<li class="nav-item"><a class="nav-link" href="deliveryStatus.html">Delivery Status</a></li>
	
							<li class="nav-item"><a class="nav-link" href="">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End header -->
		




	
	<!-- Start QT -->
	<div style="position: relative; top:-20px" class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
			
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->
	


  
  


	<!--CATEGORIES-->
	<div class="col-lg-12">


		<table style="margin-left:auto;margin-right:auto;">
			<tr>
				<th style="padding: 10px; text-align: center;"><a class="nav-link active" href="...." ><img src="images/deals.png" style="  width: 40%; height: auto; " class="img-fluid" alt="Image"> <br>Deals</a></th>
				<th style="padding: 10px; text-align: center;"><a class="nav-link active" href="...."><img src="images/burger.png" style="  width: 40%; height: auto; " class="img-fluid" alt="Image"> <br>Burgers</a></th>
				<th style="padding: 10px; text-align: center;"><a class="nav-link active" href="...."><img src="images/fastfood.png" style="  width: 40%; height: auto; " class="img-fluid" alt="Image"> <br>Fast Food</a></th>
				<th style="padding: 10px; text-align: center;"><a class="nav-link active" href="...."><img src="images/sushi.png" style="  width: 40%; height: auto; " class="img-fluid" alt="Image"> <br>Sushi</a></th>
				<th style="padding: 10px; text-align: center;"><a class="nav-link active" href="...."><img src="images/dessert.png" style="  width: 40%; height: auto; " class="img-fluid" alt="Image"> <br>Desserts</a></th>
			</tr>
		</table>
	</div>








	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">

			<!--FILTERS-->
			
			<!--sort-->
			<div style="display: inline"class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Sort
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				  <button class="dropdown-item" type="button">Most popular</button>
				  <button class="dropdown-item" type="button">Rating</button>
				  <button class="dropdown-item" type="button">Delivery time</button>
				</div>
			</div>

			
			<!--Max Delivery Fee-->
			<div style="display: inline; margin-left:10px" class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Max Delivery Fee
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				  <button class="dropdown-item" type="button">3€</button>
				  <button class="dropdown-item" type="button">5€</button>
				  <button class="dropdown-item" type="button">+5€</button>
				</div>
			</div>
			<!--search by my location-->
			<div style="display: inline; margin-left:10px"><i class="fas fa-map-marker-alt fa-2x"></i></div>
			<!--

					<div>Country: <span id="country"></span></div>
					<div>State: <span id="state"></span></div>
					<div>City: <span id="city"></span></div>
					<div>Latitude: <span id="latitude"></span></div>
					<div>Longitude: <span id="longitude"></span></div>
					<div>IP: <span id="ip"></span></div>
			-->
			<br>
			<br>

		

				<div class="col-12">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<div class="row">
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img style="width: auto; height: 180px" src="images/mac.jpg" class="img-fluid" alt="Image">
										<div>
											<h4 style="text-align: center;margin-top: 10px "><strong>McDonald's® </strong></h4>
											<h6 style="text-align: center "><strong>(Aveiro Universidade)</strong></h6>

											<div style="display: inline; margin-left: 10px">4.2<i class="far fa-star"></i></div>
											<div style="display: inline; margin-left: 20px">2€ Fee</div>
											<div style="display: inline; margin-left: 20px">10-15 min</div> 
											<a href="restaurant.html" style="float:right; margin-right: 10px;"><i class="fas fa-eye fa-2x"></i></a>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img style="height: 180px; object-fit: cover; background-size: cover; " src="images/x.jpg" class="img-fluid" alt="Image">
										<div>
											<h4 style="text-align: center;margin-top: 10px "><strong>Restaurant X</strong></h4>
											<div style="display: inline; margin-left: 10px">4.2<i class="far fa-star"></i></div>
											<div style="display: inline; margin-left: 20px">2€ Fee</div>
											<div style="display: inline; margin-left: 20px">15-20 min</div> 
											<a href="" style="float:right; margin-right: 10px;"><i class="fas fa-eye fa-2x"></i></a>
										</div>
									</div>
								</div>
								
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="images/kebab.jpg"  style="height: 180px; object-fit: cover; background-size: cover; " class="img-fluid" alt="Image">
										<div>
											<h4 style="text-align: center;margin-top: 10px "><strong>Restaurant Y</strong></h4>
											<div style="display: inline; margin-left: 10px">4.0<i class="far fa-star"></i></div>
											<div style="display: inline; margin-left: 20px">2€ Fee</div>
											<div style="display: inline; margin-left: 20px">10-15 min</div> 
											<a href="" style="float:right; margin-right: 10px;"><i class="fas fa-eye fa-2x"></i></a>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="images/hamb.jpg"  style="height: 180px; object-fit: cover; background-size: cover; " class="img-fluid" alt="Image">
										<div>
											<h4 style="text-align: center;margin-top: 10px "><strong>Restaurant Z</strong></h4>
											<div style="display: inline; margin-left: 10px">4.7<i class="far fa-star"></i></div>
											<div style="display: inline; margin-left: 20px">4€ Fee</div>
											<div style="display: inline; margin-left: 20px">10-15 min</div> 
											<a href="" style="float:right; margin-right: 10px;"><i class="fas fa-eye fa-2x"></i></a>
										</div>
									</div>
								</div>


							</div>
							
					
						</div>
					</div>
				</div>
			
		</div>
	</div>
	<!-- End Menu -->
	

	
	

	
	<!-- Start Footer -->
	<footer class="footer-area bg-f">

		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">TQS 2020/2021 <a href="#">Food Delivery</a> 
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->
	

	<!-- ALL JS FILES -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/js/jquery.superslides.min.js"></script>
	<script src="/js/images-loded.min.js"></script>
	<script src="/js/isotope.min.js"></script>
	<script src="/js/baguetteBox.min.js"></script>
	<script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script>$.ajax({
		url: "https://geolocation-db.com/jsonp",
		jsonpCallback: "callback",
		dataType: "jsonp",
		success: function(location) {
		  $('#country').html(location.country_name);
		  $('#state').html(location.state);
		  $('#city').html(location.city);
		  $('#latitude').html(location.latitude);
		  $('#longitude').html(location.longitude);
		  $('#ip').html(location.IPv4);
		}
	  });</script>

</body>
</html>