<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

</head>

<body>

<header class="top-navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<img src="" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbars-rs-food">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/restaurant">Menus</a></li>
					<div sec:authorize="isAuthenticated()">
						<li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
					</div>
					<div sec:authorize="isAuthenticated()">
						<li class="nav-item"><a class="nav-link" href="/profile">Deliveries</a></li>
					</div>
					<div sec:authorize="isAuthenticated()">
						<li  class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
					</div>
					<div sec:authorize="isAnonymous()">
						<li  class="nav-item active"><a class="nav-link" href="/login">Log In</a></li>
					</div>
					<div sec:authorize="hasAuthority('ADMIN')">
						<li  class="nav-item"><a class="nav-link" href="/admin/dashboard">ADMIN</a></li>
					</div>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- End header -->
	
	<!-- Start login -->
	<div class="blog-box">
		<div class="container">

                            <h2>Fast Delivery </h2>
                            <br><br>
							<h3>SignUp </h3>
							<div class="comment-respond-form">
								<form id="commentrespondform" class="comment-form-respond row" th:action="@{/register}" th:object="${user}" method="post">
									<div class=" col-md-6 col-md-offset-5 ">
                                        <div class="form-group">
											<input id="name_com" class="form-control" name="name" placeholder="Name" type="name" th:value="*{name}">
										</div>
										<div class="form-group">
											<input id="email_com" class="form-control" name="email" placeholder="Email" type="email" th:value="*{email}" >
										</div>
										<div class="form-group">
											<input id="address_com" class="form-control" name="address" placeholder="Address" type="name" th:value="*{address}">
										</div>
										<div class="form-group">
											<input id="password" class="form-control" name="password" placeholder="Your Password" type="password" th:value="*{password}">
										</div>
                                        <div>

                                       
                                        </div>

                                        <div  style="display: inline; margin-left: 420px">
                                            <button class="btn btn-submit" type="submit">Sign Up</button>
                                        </div>
									</div>

         
								</form>
							</div>
					</div>
				</div>
			
				
			
			</div>
		</div>
	</div>
	<!-- End details -->
	

	

	<!-- ALL JS FILES -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	
	<script src="js/jquery.superslides.min.js"></script>
	<script src="js/images-loded.min.js"></script>
	<script src="js/isotope.min.js"></script>
	<script src="js/baguetteBox.min.js"></script>
	<script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
    <script>
        $("input:checkbox").on('click', function() {
            var $box = $(this);
            if ($box.is(":checked")) {
              var group = "input:checkbox[name='" + $box.attr("name") + "']";
              $(group).prop("checked", false);
              $box.prop("checked", true);
            } else {
              $box.prop("checked", false);
            }
          });
    </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



</body>
</html>